body {
	font-family: Arial, serif; 
	background-color: lightblue; 

	text-align: center;
}

h1 {
	font-weight: bolder;
	font-size: 36px;
	color:black;
}

h2 {
	color:green;
}

img {
	width:100px;
	height: 100px;
	border-radius: 50%;
}



h2 i{
	color: lightgray;
	font-size: 100px;
}

i:hover {
	color: black;
}

ul {
	margin: 0 auto;
    padding: 0;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
}

ul li {
	    padding: 0 20px;


}


.CTA1 {
	background-color: blue;
    margin: 0 250px;
    padding: 14px 18px;
    font-size: 18px;
    border-radius: 94px;	
    display: flex;
    justify-content: center;
    color: white;
	text-decoration: none;
	text-transform: uppercase;
}

.CTA1:hover {
	background-color: black;

}


.All_Section {
	width: 700px;
	margin: 32px auto;
}

.card-white {
	background-color: lightyellow;
	margin: 24px 0;
	padding: 24px;
	border-radius: 10px;
	box-shadow: 6px 16px 24px rgba(0,0,0,0.5)
}

@media (max-width: 700px) {
	body {
	 background: red; 
	}
}

@media (max-width: 400px) {
	body {
	 background: green; 
	}
}
